body {
    background-color: #000000;
}


/*-----------------------------Nav Bar*/

nav {
    background-color: #000000;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 20px;
    padding: 7px;
}

.menuitem {
    height: 30px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 40px;
}

/*-----------------------------Hover.css*/

a.hvr-sweep-to-bottom::before {
    background: #ffffff;
    color: #000000;
    height: 40px;
}

/*-----------------------------Home Page*/

.img-fluid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*-----------------------------Music Page*/

.vid-content-one {
    margin-top: 20px;
}

.music-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 5px;
    padding-bottom: 40px;
    padding-top: 50px;
    color: #ffffff;
}

.vid-sm.col-6 {
    padding: 50px;
}


/*-----------------------------Album Page*/

.col-md-4 {
    padding:15px;
}

.album-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 50px;
    color: #ffffff;
}




/*-----------------------------Footer*/

footer {
    background-color: #000000;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.social-links {
    padding: 0px;
    margin: 0;
}

.list-inline-item {
    padding-right: 5px;
}


.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background: #fff;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    background: #A9A9A9;
}

#footer-details {
    padding: 10px;
}